.left-header {
  height: 150px;
}
.logo-playlists-button-container {
  flex-direction: column;
  width: 57%;
}
.logo-container {
  padding: 14px;
  height: 115px;
  padding: 14px;
  justify-content: flex-start;
}
.logo-container > img {
  height: 100%; 
  object-fit: contain;
}
.playlist-button-container {
  font-weight: 300;
  font-size: 17px;
}
.add-new-playlist-button {
  height: 100%;
  width: 30%;
}
.playlist-button-container > span:nth-child(1) {
  justify-content: center;
  align-items: center;
  width: 25px;
  font-size: 30px;
  font-weight: 600;
  padding-right: 17px;
  padding-left: 85px;
}
.atrwork-container {
  width: 50%;
}
.artwork-container > img {
  height: 100%;
  object-fit: fill;
  max-width: 156px;
}