.playlists-container {
  flex-direction: column;
}
.playlists-container > .element {
  justify-content: flex-start;
}
.playlists-container > .element > span:nth-child(2) {
  padding-left: 10px;
}
.tracks-container {
  flex-direction: column;
}
.tracks-container > .element > span:nth-child(1) {
  width: 3%;
}
.tracks-container > .element > span:nth-child(2) {
  width: 80%;
}
.tracks-container > .element > span:nth-child(3) {
  width: 12%;
}
.tracks-container > .element > span:nth-child(4) {
  opacity: 0.3;
  max-height: 12px;
  width: 4%;
  display: none;
}

.element {
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 14px;
  height: 35px;
  width: 100%;
  color: #5a5a5a;
  font-weight: 300;
  font-size: 13px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.element:nth-child(odd) {
  background: rgb(233, 233, 233);
}
.element:hover {
  filter: brightness(105%);
  background: #b4f3f1;
  cursor: pointer;
}
.element:active {
  filter: brightness(40%);  
}

.element-active {
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 14px;
  height: 35px;
  width: 100%;
  font-weight: 300;
  font-size: 13px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: rgb(56, 56, 56);
  color: rgb(228, 228, 228);
}
.element-active:hover {
  filter: brightness(102%);
  background: #616161;
  cursor: pointer;
}
.element-active:active {
  filter: brightness(40%);  
}