.playlists-container {
  display: flex;
  flex-direction: column;
}
.playlist-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 14px;
  height: 35px;
  width: 100%;
  color: #5a5a5a;
  font-weight: 300;
  font-size: 13px;
}
.playlist-element:nth-child(even) {
  background: #eaeaea;
}
.playlist-element:hover {
  background: #b4f3f1;
  filter: brightness(107%);
  cursor: pointer;
}